	<% if object.errors.any? %>
		<h3>Opps! Der <%= object.class.name.titleize.downcase %> konnte nicht gespeichert werden.</h3>
		Korrigieren Sie die folgenden <%= pluralize(object.errors.count, "error") %>:
		<ul>
			<% object.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	<% end %>